.footer {
  margin-top: rem(10px);
  border-top: rem(1px) solid;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;

  @media (max-width: 100%) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: 100%) {
    margin-top: 10px;
  }
}